/* BODY AND ALL */
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-family: calibri;
    background-color: #706C61;
    background-image: url("../assets/img/texture.jpg");
    background-size: 300px;
    color: #aaa;
    text-shadow: 3px 3px 1px #070606;
  }

  h1, h2, h3 {
    font-family: "Old Fenris";
    margin-bottom: 1em;
    color: #c7bda6;
    text-shadow: 3px 3px #070606;
    font-weight: 200;
  }
/* BODY AND ALL */

/* -----------------------------------NAV BAR----------------------------------- */
/* NAV PARTOUT */
nav {
    background-color: black;
    padding: 0 0 10px 0;
}

nav ul {
    display: flex;
    gap: 25px;
    padding: 10px 0 0 25px;
}

nav a {
    color:white ;
}
/* NAV PARTOUT */

li:nth-child(3) {
    padding-right: 60%;
}

.nav-right-welcome {
    color: white;
}

/* ------------------------------------TITRES------------------------------------ */
/* ALL H1 */
h1 {
    padding: 10px 0 15px 10px;
}
/* ALL H1 */


/* -----------------------------!index.php!----------------------------- */
.index_home {
    text-align: center;
    padding: 50px 0px;
}

.index_img_txt {
    text-align: center;
}

.index_img_container {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.index_img {
    object-fit: cover;
    height: 250px;
    width: 250px;
    border-radius: 10px;

}

/* -----------------------------!creature_modif.php!----------------------------- */
/* ALL FORM */
form {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
}

form button {
    width: 150px;
}
/* ALL FORM */

/* FORM MODIFICATION, NAME ET CREATURE */
.modif_name {
    width: 200px;
    margin: 10px 0px;
    border: 1px solid lightgray;
}

.modif_creature {
    width: 250px;
    margin: 10px 0px;
    border: 1px solid lightgray;
}
/* FORM MODIFICATION, NAME ET CREATURE */

/* ---------------------------------!creatures.php!---------------------------------- */
/* ARTICLE MODIFICATION */
article {
    border: 1px solid lightgray;
    padding: 5px 0px 20px 0px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 420px;
    padding: 10px;
    position: relative;
}

article p {
    padding: 10px 0 10px 10px;
    margin: 0px 20px;
}

.last_p_creature {
    padding: 10px 0 60px 10px;
    margin: 0px 20px;
}


article a {
    padding: 10px;
}

.container_button3 {
    padding: 10px;
    text-align: center;
}

.button3 {
    padding: 5px 10px;;
    text-align: center;
}

.button1 {
    padding: 5px 10px;
    position:absolute;
    bottom: 2%;
    left: 9%;
}

.button2 {
    padding: 5px 10px;
    position:absolute;
    bottom: 2%;
    left: 500%;
}

.imgIndex {
    width: 420px;
    object-position: center;
    object-fit: cover;
    height: 300px;
}

.creature_container {
    display: flex;
    gap: 75px;
    flex-wrap: wrap;
}

.welcome_box {
    text-align: center;
}

/* ARTICLE MODIFICATION */

/* ---------------------------------!magie.php!---------------------------------- */
.articles-container {
    display: flex;
    gap: 75px;
    flex-wrap: wrap;
    padding: 10px;
}

.article-magie {
    width: 420px;
}
/* ---------------------------------!index.php!---------------------------------- */